.sp_DincwqzcFMM{background-image:url(/rsrc.php/v3/yn/r/yXWnCdMcunk.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_DincwqzcFMM.sx_c99cff{background-position:0 0}

#bootloader_beLMe{height:42px;}.bootloader_beLMe{display:block!important;}